# Arquivos do sistema
.DS_Store
Thumbs.db

# Pastas do build
target/
build/

# Logs
*.log

# Configurações do IDE
.idea/
*.iml
*.ipr
*.iws

# Configurações do Eclipse
.project
.classpath
.settings/

# Configurações do IntelliJ
*.iml
*.iws
*.idea/

# Dependências
node_modules/   # se algum serviço usar Node.js